/*core style*/


body {
    font-family: cursive;
    
}

* {
    margin: 0;
    padding: 0;
}

ul {
    width: 80%;
    margin: 0 auto;

}
 ul li {
     list-style: none;
     display: flex;
 }
  

 ul li:hover {
     background: ;
 } 
a {
    text-decoration: none;
    color: #fff;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/**/
#computer_size {
    display: none;
}
#navbar {
    height: 100vh;
    min-height: 650px;
    background-image: url('http://thearabhospital.com/wp-content/uploads/2018/02/Telemedicine.jpg');
    background-position-x: center;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: space-between;    
    width: 100%;  
    background-color: rgba(255, 255, 255, 0.5);  
    
}

.nav_items {
    display: flex;
    flex-direction: row-reverse;
    margin-left:  10px;
    margin-top: 20px;
    
    color: whitesmoke;
    }
 .child {
        list-style: none;
        margin-left: 20px;
        
 }
 .child > a {
        color: #ffffff;
        
    }

.logo {
    font-family:  cursive;
   font-size: 30px;
   color: whitesmoke;
   
}

.toggle {
    color: #fff;
    padding: 10px 20px;
    text-align: right;
    box-sizing: border-box;
    font-size: 20px;
    
}
#cross:hover, #hamburger:hover {
    cursor: pointer;
}

#mobile_size {
    display: block;
    text-align: center;
    margin-left: -100%;
    transition: all .4s;
}

.hidden, #cross {
    display: none;
}

.display {
    display: block !important;
}




.margin-left-20 {
    margin-left: 20px !important;
}







/* 768px tablet size*/
@media screen and (min-width: 768px) {
    #computer_size {
        display: flex;
    } 

    #mobile_size{
        display: none;

    }
    .toggle {
        display: none;
    }

}




