/*Core Styles*/

* {
    margin:0;
    padding: 0;
}

body {
    
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    color: rgba(0, 0, 0, 0.84);
    font-size: 20px;
    line-height: 1.4;
    
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.wrapper {
    
    text-align: center;
    width: 75%;
    margin: auto;
   
}





.header {
    display: grid;
    /*grid-template-columns: 30% 50% 1% 7% 5%;*/
  
    grid-template-columns: repeat(3, max-content);
    justify-content: space-between;
    
    margin-top: 5px;
    font-size: 17px;
    /*
    grid-template-columns: repeat(5, .5fr);
    */
    
}





.header--right {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header--center {
font-size: 35px;
}




.header_sign_in {
    margin: 10px;
}

.button--primary {
    margin: 10px;
    color: rgb(3, 168, 124);
    border: 1px solid rgb(3, 168, 124);
    border-radius: 4px;
    height: 37px;
    line-height: 37px;
    padding: 0 16px;
    background-color: transparent;    
}

.button--primary:hover {
    border-color: #029e74;
    color: #018f69;
}

.header--left {
   
    
    padding: 20px;
}



.header--right {
    display: flex;
    
    
    padding-top: 10px;
   

}






.menu-nav > ul {
        list-style-type: none;
        margin: auto;
        padding: 5px;
        display: flex;
        font-size: 20px;
        color: rgba(0,0, 0, .54);
    
}
.menu-nav > ul li {
    margin-left: 10px;
    /* to prevent wrapping the phrases that are composed of two or more words such as the case in my  menu  "Power Trip"*/
    white-space: nowrap;
}




.first--column--img {
    width: 100%;
    height: 150px;
    background-size: cover;

}

.wrapper-2 {
    display: grid;
    grid-template-columns: 550px 450px 300px;
    /*margin-right: 120px; */   
    margin-left: 120px; 
    margin-top: 13px;  
    /*grid-gap: 1px; */
   /* align-content: center;*/
    grid-column-gap: 30px;
}


.third--column {
     
    
    
}

.right-side-margin {

   /* margin-right: 20px;*/
}

.second--column {
   display: flex;
   /*margin-right: 120px; */ 
   
   
   
}

.container-middle__text {
    
   
}



.second--column__image {
    width: 100px;
    height: 100px ;
    align-content: flex-start;
}

.first--column {
   /* margin-right: 10px;*/
}



.first--column > img {
   
    
    height: 190px;
    margin-bottom: 8px;
    width: 100%;
    
}


.third--column--img {
    width: 100%;
}

.first--column--title {
    font-size: 1.3vw;
    
}

.first--column--subtitle {
    
    color: rgba(0,0, 0, .54);
}



.first-column-author {
    text-decoration-line: none;
    font-size: 1vw;

}

.element__1__author {
    text-decoration-line: none;
}

.container-middle {
   /* margin-left: 20px;*/
    
    
}

.container-middle > div {

margin: auto
}


.element__1__title, .first--column--title {
font-size: 18px;
}


.element__1__author, .element__1__status, .first-column-status{
    font-size: 14px;


}

.first-column-status {
    display: flex;
}




.arrow {
    text-align: right;
    margin: auto;
    
}

.arrow-indication {
    text-decoration-line: none;
    margin-bottom: 10px;
   
    color: #03a87c;
}


.line-divider {
    padding-bottom: 30px;
    border-bottom: 1px solid;
    margin-bottom: 20px;
    width: 75%;
}

.welcome-box {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    height: 10%;
    
    
    background-color: #DEF3EF;
    margin: 20px auto;
    width: 75%;
    
}

#text-container {
    margin: auto 50px;
}


.welcome-box--img {

    /*
    background-size: 516px 309px;
    background-position: bottom right;
    background-size: 40px;
*/
    height: 10%;
    width: 20%;
    justify-content: flex-end;
    order:2;

}



.welcome-box--content {
    justify-content: flex-start;
    height: 60%;
    width: 60%;
    order: 1;
    align-self: center;

}

.welcome-box--content > div {
    font-size: 30px;
}

div .button {
        
}

.welcome-box--content-title {
    font: 40px;

}

.welcome-box--content-message {
    font-size: 20px;
}

.welcome-box--content-button {
    display: inline-flex;
    border: 20px;
    border-radius: 40px
}
.button--light {
   
    border-color: rgba(0, 0, 0, 0.68);
    color:  rgba(0, 0, 0, 0.68);
}

.button--light:hover {
    
    color:  rgba(0, 0, 0, 0.8);
}


.button--filled {
    background: black;    
    border-color: black;
    
   font-size: 16px;
    
    color: whitesmoke;

}

.button--filled:hover{
    border-color: #1C9963;
    background-color: #1C9963;
    color: whitesmoke;
}




/* container-main*/
#container-main {
    display: grid;
    grid-template-columns: 664px 328px;
    grid-gap: 10px;
    margin: auto;
    max-width: 1032px;
    padding-right: 24px;
    

}

.left-side__top {
    display: grid;
    grid-template-columns: max-content 1fr;
    margin-bottom: 25px;


}

.left-side-articles {
    justify-content: space-between;
    display: flex;
    margin-bottom: 20px;
}

.phrase-left {
border-bottom: 1PX solid black;
padding-bottom: 20px;

}

.phrase-right {
    text-align: right;
    border-bottom: 1PX solid rgba(0, 0, 0, 0.15);
    
}

.container-middle__text {
    padding-right: 20px;
    

}

.container-main__text {
    padding-right: 20px;
    width: 100%;
}

.container-main__image {
   
    width: 140px;
    height: auto;
}

.sidebar__title {
   
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    margin: 32px 32px 0px; 
    padding-bottom: 16px;


    
    
}
.articles-container {
    padding: 32px;
}


.article {
    display: flex;
    margin-bottom: 24px;

}

.article-content {
    margin-left: 16px;
}


.article-number {
    margin-right: 4px;
}
.title {
    margin-bottom: 5px;
}

.sidebar__footer {
    display: flex;
    flex-wrap: wrap;
    height: 44px;
    width:  288px;
    padding-top: 10px;
    padding-bottom: 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    font-size: 15px;
}
.footer-element {
    margin-right: 16px;
    color: rgba(0, 0, 0, 0.54);
}
.footer-element:hover{
    text-decoration: underline;
}





/* First BREAKPOINT AT 1032PX - THE THIRD COLUMN OF THE TOP NEWS DISAPPEARS AND MENU STARTS DISAPPEARING
   SECOND BREAKPOINT AT 855PX - THE SIDEBAR DISAPPEARS
   THIRD BREAKPOINT AT 768PX  - THE HEDAER CHANEGS TO A  MOBILE VERSION AND THE IMAGE FROM THE SECTION OF  WELCOME TO MEDIUM DISAPPEARS
   FOURTH BREAKPOINT AT 680PX  - THE MIDDLE COLUMN IN THE TOP NEWS GO TO THE BOTTOM OF THE FIRST COLUMN THE IMAGES WIDTH CHANGE TO 140PX */


/*Media Queries*/
@media screen and (max-width: 1032PX) {
    .third--column {
        display: none;
    }
    .arrow {
        text-align: left;
    }
}

@media screen and (max-width: 855PX) {
    .sidebar {
        display: none;
    }

}


@media screen and (max-width: 768px) {
    .header {
        display: flex;
        justify-content: space-between;
    }

    .hidden-in-mobile {
        display: none;
    }
    .welcome-image {
        display: none;

}
    .wrapper-2 {
        width: 95%;
        display: flex;
        margin: auto;
        flex-direction: column;
        
    }

    .container-middle__text {
        align-content: flex-start;
    }
  
}

@media screen and (max-width: 680PX) {
    .second--column {
        flex-direction: row-reverse;

    }
    .second--column__image {
        width: 140px;
        align-content: flex-end;
    }
}

.wrapper, .arrow,  .welcome-box, .container-main {
    max-width: 1032px;
}