.wrapper {
    display: flex; 
    text-align: center;    
}

.wrapper div {
    flex: 1;
}

img {
    max-width: 90%;
    margin: 20px;
}

body {
    margin:20px;
} 

  h1{
    font-family: 'Raleway', sans-serif; 
    margin-left: 20px;
}

   
