img {
    width: 31%;
    display: inline-block;
    margin: 10px;
    
  }
  
 #header {
   margin-left: 20px;
 }
  
  h1{
    font-family: 'Raleway', sans-serif;
    }

.page_wrapper {
       margin: auto;
       display: inline-block;
       text-align: center;
    }