 * { 
     margin:0;
     padding: 0;
 }
 
 body {
    height: 100%;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    
    font-size: 15px;

 }

 a {
     text-decoration: none;
     color: black;
 }


.container-1  {
    background-image: url('https://a0.muscache.com/4ea/air/r:w3100-h2074-sfit,e:fjpg-c80/pictures/0ffd8594-f123-43f0-85bb-7ef88c6f0624.jpg');
     width: 100%;
     height: 100vh;
     background-size: cover;
     
 }


 .header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     
 }
 .menu {
    display: flex; 
    justify-content: flex-end;

    font-size: 18px;
    color: white;
    margin: 20px;
    
 }

 .menu > div {
    margin-left: 50px;
 }

  .second_part_of_banner {
      max-width: 1000px;
      margin: 0 auto;
      background-color: none;
      display: grid;
      
      
  }

  .form_div {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-row-gap: 13px;
      width: 400px;
      height: 100%;
      background-color: WHITE;
      padding: 20px;
      font-weight: bold;
    
      
  }


  .item_full_size {
      grid-column: 1 / 3;
      
  }

  

  .form_div input, .form_div select {
      width: 100%;
      font-size: 20px;
      margin-top: 10px;
      

  }

  .form_button {
    grid-column: 2 / 3; 
    
    justify-self: end;

  }

  .form_button > button {
    background-color: rgb(255, 90, 95);
    font-size: 16px;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 3px;
  }

  #title_outside_form  {
      color: white;
      display: none;
      margin-top: 150px;
      font-size: 30px;
      margin-left: 20px;
  }
  .text_at_bottom_of_banner {
      color: white;
      bottom: 20px;
      text-align: right;
      position: absolute;
      right: 20px;
      
    
  }


  #body_wrapper {
      width: 95%;
      max-width: 1000px;
      margin: auto;
      padding-bottom: 10em;
      color: rgb(72, 72, 72);
  }
  .categories {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 10px;
      margin-top: 10px;

  }


  #image_1 {
    background-image: url("https://a0.muscache.com/im/pictures/8b7519ec-2c82-4c09-8233-fd4d2715bbf9.jpg?aki_policy=large");
  }


  #image_2 {
    background-image: url("https://a0.muscache.com/im/pictures/cb8b3101-d419-4c17-8e2f-4989b39b98c3.jpg?aki_policy=large");
  }

  #image_3 {
    background-image: url("https://a0.muscache.com/im/pictures/da2d8e97-90b7-409f-94ac-5ab0327c289b.jpg?aki_policy=large");
  } 
  .category_image {
    width: 50%;
    height: 10vh;
    background-size: cover;
  }

  .category_item {
      display: flex;
      align-items: center;
      border: rgba(0,0,0,0.1) 1px solid;
      color: rgb(72, 72, 72);

  }

  h2 {
      margin-top: 25px;
  }

  .image_Airbnb_plus {
      background-image: url("https://a0.muscache.com/4ea/air/v2/pictures/e36e06a9-f9a4-49a5-a94c-02134a8787c5.jpg?t=c:w1131-h343,r:w1131-h343-sfit,e:fjpg-c75");
      width: 100%;
      height: 50vh;
      background-size: cover;
      margin-top: 10px;
    cursor: pointer;
  }

.centered_Airbnb_plus {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-top: 100px;
}

.Airbnb_plus_btn {
    background-color: white;
    text-align: center;
    padding: 10px 10px;
    border-radius: 3px;
    border: none;
    margin-top: 20px;
    white-space: nowrap;
    
}
  
.recomendado {
    display: grid;
   
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
    margin-top: 10px;
}

.recomendado_items {
    width: 100%;
    height: 35vh;
    background-size: cover;
    display: flex;
    text-align: center;
    justify-content: center;

    
}

#Paris {
    background-image: url("https://a0.muscache.com/im/pictures/998b4270-25d7-4850-8ccf-4350b9a5ab05.jpg?aki_policy=large");
}

#Toquio {
    background-image: url("https://a0.muscache.com/im/pictures/60145c65-7c36-4ac5-8129-6ae9a0d27a81.jpg?aki_policy=large");

}

#Londres {
    background-image: url("https://a0.muscache.com/im/pictures/6729455e-af21-4dc3-bfdf-332393d407a8.jpg?aki_policy=large");

}

#Los_Angeles {
    background-image: url("https://a0.muscache.com/im/pictures/82af5bc4-ed5b-44d9-9209-ac0f2fbf8986.jpg?aki_policy=large");

}

#Barcelona {
    background-image: url("https://a0.muscache.com/im/pictures/6db93b37-3d4b-49c0-af00-c184a9dd6305.jpg?aki_policy=large");
}

.recomendado_text {
    align-self: flex-end;
    color: white;
    padding-bottom: 50px;
    
}


.worldwide_homes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 20px;
    width: 100%;

    }
    
.items_img {
   
    width: 100%;
    height: 40vh; 
}    

#image_worldwide_homes_1 {
    background-image: url("https://a0.muscache.com/im/pictures/3898743/a70e3172_original.jpg");
    background-size: cover;
}

#image_worldwide_homes_2 {
    background-image: url("https://a0.muscache.com/im/pictures/5d1bf638-dc74-45a5-a951-c5207d2ffea3.jpg?aki_policy=large");
    background-size: cover;
}

#image_worldwide_homes_3 {
    background-image: url('https://a0.muscache.com/im/pictures/18813125/896b30c2_original.jpg?aki_policy=large');
    background-size: cover;
}

#image_worldwide_homes_4 {
    background-image: url('https://a0.muscache.com/im/pictures/39408019/48808569_original.jpg?aki_policy=large');
    background-size: cover;
}

#image_worldwide_homes_5 {
background-image: url("https://a0.muscache.com/im/pictures/22534107/2deed15c_original.jpg?aki_policy=large");
background-size: cover;
}


#image_worldwide_homes_6 {
background-image: url("https://a0.muscache.com/im/pictures/65441227/bb1eb2dd_original.jpg?aki_policy=large");
background-size: cover;
}

#image_worldwide_homes_7 {
    background-image: url("https://a0.muscache.com/im/pictures/828dbfd7-1259-413c-b99e-a9629d06a040.jpg?aki_policy=large");
    background-size: cover;
}    

#image_worldwide_homes_8 {
background-image: url("https://a0.muscache.com/im/pictures/f5bd3f39-8162-46d1-a670-a39a832072e9.jpg?aki_policy=large");
background-size: cover;
}    

/* max-width: 1128px */ 

#home_text_title_1 {
    color: rgb(115,79,33);
    cursor: pointer;
}


#home_text_title_2 {
    color: rgb(98, 86, 75);
    cursor: pointer;
}

#home_text_title_3 {
    color: rgb(3, 21, 13);
    cursor: pointer;
}

#home_text_title_4 {
    color: rgb(155, 49, 67);
    cursor: pointer;
}


.home_text {
    margin-top: 18px;
    
}



h5 {
    color: rgb(0, 132, 137);
}

.genero_viagem__items_image_1 {
 background-image: url("https://a0.muscache.com/pictures/f759fb5d-0fd7-4f80-b1a2-23a1915298f4.jpg");
 max-width: 100%;
 height: 50vh;
 background-size: cover;
}
    
#familia {
    text-align: center;
}



.genero_viagem__items_image_2 {
    background-image: url("https://a0.muscache.com/pictures/f8539f57-e950-4d82-a834-97bcf9239b1c.jpg");
    max-width: 100%;
    height: 50vh;
    background-size: cover;
}
    

.genero_viagem {
   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    /*
    width: 100%; */
}

.genero_viagem__items_text {
    margin-top: 20px;
}


/* the title remain on the image and the form goes down and occupy the entire page width 
Explore Airbnb occupies the entire width size 
casas no mundo entireo becomes with three columns -the last colum disappears
*/
@media screen and (max-width: 1127px) {

.menu {
    display: none;
}
.form_div{
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    
}
.second_part_of_banner  {
    margin: 0;
    max-width: 100%;
}
.text_at_bottom_of_banner {
    display: none;
    


}
.form_button {
   grid-column: 1/ 3; 
   justify-self: initial;
}
.form_button > button {
    width: 100%;
}
.container-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    }
    .categories {
        grid-template-columns: repeat(3, 1fr);
    }

    #title_outside_form {
        display: block;
    }
    #title_inside_form {
        display: none;
    }
}

/* Explore Airbnb becomes small and satys at the left side
casas no mondo enteiro becoems with two columns(first and second)
casas para o seu genero de viagem becomes only with the first column 
*/
@media screen and (max-width: 743px) {

}


/*
1st at 1128px - page landing chages to mobile versionbody have almost full width, the 3 explore airbnb cards start to have +/- 30% width and the 	houses advertisement cards have 3 columns instead of 4

	2nd at 1050px - barcelona card disappears

	3rd at 970px -  houses advertisement cards have 2 columns instead of 3

	4th at 872px - la card disappears

	5th at 744px - the 3 explore cards displays with image on top and the text bellow and the "Casas para o seu género de viagem" have only one item

    6th at 694px - london card disappears
    */

    @media screen and (max-width: 1050px) {
        .recomendado {
            grid-template-columns: repeat(4, 1fr);
        }
        #Barcelona {
            display: none;
        }
        .worldwide_homes {
           
            grid-template-columns: repeat(3, 1fr);
        }
        #item_4, #item_8 {
            display: none;
        }
    }

    @media screen and (max-width: 744px) {
        .genero_viagem {
            grid-template-columns: repeat(1, 1fr);
        }
        #Trabalho {
            display: none;
        }
    }


    @media screen and (max-width: 744px) {
       .category_item {
           flex-direction: column;
       }

       .categories {
        
        grid-template-columns: repeat(3, 144px);
       }
       .category_image {
           width: 100%;

       }
       .category_text {
           padding: 5px 20px 20px 5px; 
       }
    }

    @media screen and (max-width:872px) {
        .recomendado {
            grid-template-columns: repeat(3, 1fr);
        }
        #Los_Angeles {
            display: none;
        }
    }

    @media screen and (max-width:693px) {
        .recomendado {
            grid-template-columns: repeat(2, 1fr);
        }
        #Toquio {
            display: none;
        }
        .worldwide_homes {
           
            grid-template-columns: repeat(2, 1fr);
        }
        #item_3, #item_6 {
            display: none;
        }

    }