.wrapper {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    max-width: 100vw;
    grid-gap: 20px;
    grid-auto-columns: 
}

img {
    max-width: 100%;
}

body {
    margin:10px 50px;
} 

  h1{
    font-family: 'Raleway', sans-serif;
    
    }

