/*core style*/

body {
	font-family: Georgia, "Times New Roman", Times, serif;
}

* {
	margin: 0;
	padding: 0;
}

ul {
	width: 80%;
	margin: 0 auto;
}
ul li {
	list-style: none;
	display: flex;
}

ul li:hover {
	background: ;
}
a {
	text-decoration: none;
	color: #fff;
}

img {
	max-width: 100%;
	max-height: 100%;
}

/**/
#computer_size {
	display: none;
}
#navbar {
	height: 100vh;
	min-height: 650px;
	background-color: rgb(119, 119, 219);
	background-size: 100px 10px;
}

.middle {
	display: flex;
	justify-content: center;
	background-color: whitesmoke;
	size: 1090px 10px;
	text-align: center;
	height: 40px;
}

#btn {
	display: flex;
	align-content: space-between;
    cursor:pointer;
}

#right {
	color: blue;
	font-size: 15px;
    cursor:pointer;
}

#centered {
	display: none;
}
.container-top {
	display: inline-block;
	text-align: center;
	justify-content: space-between;
	width: 100%;
	background-color: rgb(0, 51, 153);
	color: white;
}

.squares div{
    width: 100px;
    height: 100px;
}
.squares {
    display: grid;
    grid-template-columns: repeat(3, 160px);
    grid-template-rows: repeat(3, 160px);
    justify-items: center;
}

.blackbacground {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

