html, body {
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    width: 500px;
    background-color: white;
    height: 500px;
    /* margin:auto; */
    outline: 5px solid white;
    outline-offset: -5px;

}
h1 {
    /* margin: auto; */
}
.wrapper {
    width: 100%;
    height: 100%;
    background-color: white;
    display: grid;
    align-items: center;
    justify-items: center;
}

.cell {
    border: 1px solid black;
}